[submodule "extern/yaml-cpp"]
	path = extern/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "extern/fri-client-sdk"]
	path = extern/fri-client-sdk
	url = https://github.com/kirillin/fri-client-sdk.git
